.header{
    position: relative;
    img{
        padding: 0px
    }
    .header__contenido{
        position: absolute;
        top:50%;
        text-align: center;
        color: white;
        h2{
            font-size: 20px;
            font-weight: 600;
        }
     
        button{
            padding: 5px 15px;
            border: 0;
            font-size: 16px;
            border-radius: 8px;
            color:white;
            background-color: $Primary;
            &:hover{
                background-color:$secundary ;
            }
        }
    }
    

}

@media(min-width:576px){
    .header{
        .header__contenido{
        
            h2{
                font-size: 30px;
                font-weight: 600;
            }
         
            button{
                padding: 5px 25px;
                border: 0;
                font-size: 24px;
                border-radius: 8px;
                
            }
        }
        
    
    }
   

}

@media(min-width:768px){
    .header{
        .header__contenido{

            h2{
                font-size: 65px;
                font-weight: 600;
                margin-bottom: 25px;
            }
         
            button{
                padding: 5px 35px;
                border: 0;
                font-size: 40px;
                border-radius: 8px;
                
            }
        }
        
    }
   
}


