.cards{
    padding: 10px;
}
.card{
    width: 250px;
    border: 0.5px solid rgba(3, 3, 3, 0.651);
    padding: 10px;
    margin:10px;
    
    img{
        width: 100%;
    }
    h3{
        margin-top: 15px;
        font-size: 16px;
        text-align: center;
    }
    h4{
        text-align: center;
        font-size: 16px
    }

    .añadirCarrro{
    
        .fa-heart{
            margin: 10px;
        }
        button{
            border:0;
            background-color: rgb(80, 78, 78);
            border-radius: 5px;
            width: 170px;
            &:hover{
                background-color:$Primary ;
                color:white
            }
        }
    }
 
}